%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-

{release, {riak, "1.2.1"},
 [riak,
  ebloom, 
  eper, 
  syslog,
  lager_syslog,
  sext,
  riaknostic,
  riak_pb,
  protobuffs,
  poolboy,
  meck,
  getopt,
  eleveldb,
  edown,
  bear
 ]}.

{generate_start_script, false}.

{overlay_vars, "vars.config"}.

{overlay, [
          {mkdir, "data/ring"},
          {mkdir, "log"},
          {copy, "files/erl", "erts-{{erts_vsn}}/bin/erl"},
          {template, "files/app.config", "etc/app.config"},
          {template, "files/nodetool", "erts-{{erts_vsn}}/bin/nodetool"},
          {template, "files/riak", "bin/riak"},
          {template, "files/riak-admin", "bin/riak-admin"},
          {template, "files/search-cmd", "bin/search-cmd"},
          {template, "files/vm.args", "etc/vm.args"},
          {template, "files/cert.pem", "etc/cert.pem"},
          {template, "files/key.pem", "etc/key.pem"},
          {mkdir, "lib/basho-patches"},
          {copy, "../ebin/etop_txt.beam", "lib/basho-patches"}
          ]}.

